<div class="home-category">
  <div class="rectangle-1"></div>
  <img class="_2" src="_20.png" />
  <div class="_22">Десерты</div>
  <div class="rectangle-12"></div>
  <img class="_1" src="_10.png" />
  <div class="_12">Супы и борщи</div>
  <div class="div"></div>
  <div class="culinario">culinario</div>
  <div class="div2"></div>
  <img class="account" src="account0.png" />
  <img class="like" src="like0.png" />
  <img class="add" src="add0.png" />
  <img class="search" src="search0.png" />
  <img class="home" src="home0.png" />
</div>
