/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  --dlya-zagolovka-font-family: KaiseiHarunoUmi-Regular, sans-serif;
  --dlya-zagolovka-font-size: 24px;
  --dlya-zagolovka-line-height: normal;
  --dlya-zagolovka-font-weight: 400;
  --dlya-zagolovka-font-style: normal;

  /* Effects */
}
